.tags{
    background-color: #161415;
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    column-gap: 8px;
    padding: 0 2%;
    align-items: center;
   

}
.tag{
    width: fit-content;
    background-color: #363636;
    height: fit-content;
    padding: 5px 8px;
    border-radius: 18px;
    font-size: 12px;
    transition: 0.5s;
}
.tag:hover{
    
    background-color: #6d6868;
    
}